@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #08533c;
  border-right-color: #619787;
  animation: rotate 1s infinite linear;
}

.btn-grad {
  background-color: #080b0e;
}
.btn-grad {
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}

.btn-grad:hover {
  background-color: #010202;
}

.home-bg {
  background-image: url("../../public/png-img1-removebg-preview.png");
}
.box-shadow {
  box-shadow: 0px 0px 24px black;
}
